In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('Trips.csv', keep_default_na=True, sep=',\s+', delimiter=';', skipinitialspace=True)

In [3]:
df.head()

,",DATASOURCE",DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,"0,""DB",07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"""
1,"1,""DB",07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"""
2,"2,""DB",07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"""
3,"3,""DB",07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"""
4,"4,""DB",07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"""

In [4]:
df.shape

(2182637, 16)

In [5]:
df.dtypes

,DATASOURCE         object
DAYOFSERVICE        object
TRIPID               int64
LINEID              object
ROUTEID             object
DIRECTION            int64
PLANNEDTIME_ARR      int64
PLANNEDTIME_DEP      int64
ACTUALTIME_ARR     float64
ACTUALTIME_DEP     float64
BASIN               object
TENDERLOT          float64
SUPPRESSED         float64
JUSTIFICATIONID    float64
LASTUPDATE          object
NOTE                object
dtype: object

In [6]:
df.nunique()

,DATASOURCE        2182637
DAYOFSERVICE           360
TRIPID              658964
LINEID                 130
ROUTEID                588
DIRECTION                2
PLANNEDTIME_ARR      64461
PLANNEDTIME_DEP        791
ACTUALTIME_ARR       68122
ACTUALTIME_DEP       66771
BASIN                    1
TENDERLOT                0
SUPPRESSED               1
JUSTIFICATIONID       3526
LASTUPDATE             360
NOTE                 46690
dtype: int64

In [7]:
list_of_bus_routes = list(df['LINEID'].unique())

In [8]:
df['LINEID'].value_counts()

46A    76728
145    62730
15     58083
40     56974
39A    55301
       ...
68X      243
51X      238
16D       84
41D       36
33E       14
Name: LINEID, Length: 130, dtype: int64

In [9]:
df.isna().sum()

,DATASOURCE              0
DAYOFSERVICE             0
TRIPID                   0
LINEID                   0
ROUTEID                  0
DIRECTION                0
PLANNEDTIME_ARR          0
PLANNEDTIME_DEP          0
ACTUALTIME_ARR      137207
ACTUALTIME_DEP      164551
BASIN                    0
TENDERLOT          2182637
SUPPRESSED         2178304
JUSTIFICATIONID    2178307
LASTUPDATE               0
NOTE                     0
dtype: int64

- Datasource - constant - delete
- DAYOFSERVICE - continuous - datetime
- TRIPID - ?? needed as key ?? - categorical
- LINEID - ROUTE - categorical
- ROUTEID - ??? - categorical, but need more info.
- DIRECTION - which is which? - category
- PLANNEDTIME_ARR
- PLANNEDTIME_DEP
- ACTUALTIME_ARR
- ACTUALTIME_DEP 
- BASIN - delete
- TENDERLOT - delete
- SUPRESSED - delete
- JUSTIFICATION - delete
- LASTUPDATE - delete
- NOTE - empty - delete

Info:
IB = inbound/going/northbound/eastbound
OB = outbound/bav=ck/southbound/westbound

Times in seconds since 0000 - can be after midnight.

Probably remove those without actual times.

In [10]:
df['DAYOFSERVICE'] = df['DAYOFSERVICE'].astype('datetime64[ns]')
df['TRIPID'] = df['TRIPID'].astype('category')
df['LINEID'] = df['LINEID'].astype('category')
df['ROUTEID'] = df['ROUTEID'].astype('category')
df['DIRECTION'] = df['DIRECTION'].astype('category')
df[',DATASOURCE'] = df[',DATASOURCE'].astype('category')
del df['NOTE']
del df['LASTUPDATE']
del df['JUSTIFICATIONID']
del df['SUPPRESSED']
del df['BASIN']
del df['TENDERLOT']
del df['PLANNEDTIME_ARR']
del df['PLANNEDTIME_DEP']

In [11]:
df.head()

,",DATASOURCE",DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,ACTUALTIME_ARR,ACTUALTIME_DEP
0,"0,""DB",2018-02-07,6253783,68,68_80,1,87524.0,84600.0
1,"1,""DB",2018-02-07,6262138,25B,25B_271,2,32752.0,NaN
2,"2,""DB",2018-02-07,6254942,45A,45A_70,2,36329.0,32082.0
3,"3,""DB",2018-02-07,6259460,25A,25A_273,1,58463.0,54443.0
4,"4,""DB",2018-02-07,6253175,14,14_15,1,84682.0,81608.0

In [12]:
df.dtypes

,DATASOURCE             category
DAYOFSERVICE      datetime64[ns]
TRIPID                  category
LINEID                  category
ROUTEID                 category
DIRECTION               category
ACTUALTIME_ARR           float64
ACTUALTIME_DEP           float64
dtype: object

In [13]:
list_of_bus_routes[0:10]

['68', '25B', '45A', '25A', '14', '77A', '39', '16', '40D', '27B']

In [14]:
SixtyEight = df.loc[df['LINEID'] == '68']
TwentyFiveB = df.loc[df['LINEID'] == '25B']
FortyFiveA = df.loc[df['LINEID'] == '45A']
TwentyFiveA = df.loc[df['LINEID'] == '25A']
Fourteen = df.loc[df['LINEID'] == '14']
SeventySevenA = df.loc[df['LINEID'] == '77A']
ThirtyNine = df.loc[df['LINEID'] == '39']
Sixteen = df.loc[df['LINEID'] == '16']
FortyD = df.loc[df['LINEID'] == '40D']
TwentySevenB = df.loc[df['LINEID'] == '27B']

In [15]:
list_of_bus_routes[10:20]

['142', '83', '130', '15', '46A', '33', '7', '39A', '49', '1']

In [16]:
OneFortyTwo = df.loc[df['LINEID'] == '142']
EightyThree = df.loc[df['LINEID'] == '83']
OneThirty = df.loc[df['LINEID'] == '130']
Fifteen = df.loc[df['LINEID'] == '15']
FortySixA = df.loc[df['LINEID'] == '46A']
ThirtyThree = df.loc[df['LINEID'] == '33']
Seven = df.loc[df['LINEID'] == '7']
ThirtyNineA = df.loc[df['LINEID'] == '39A']
FortyNine = df.loc[df['LINEID'] == '49']
One = df.loc[df['LINEID'] == '1']

In [17]:
list_of_bus_routes[20:30]

['123', '41', '67X', '59', '9', '40', '239', '76', '84', '53']

In [18]:
OneTwentyThree = df.loc[df['LINEID'] == '123']
FortyOne = df.loc[df['LINEID'] == '41']
SixtySevenX = df.loc[df['LINEID'] == '67X']
FiftyNine = df.loc[df['LINEID'] == '59']
Nine = df.loc[df['LINEID'] == '9']
Forty = df.loc[df['LINEID'] == '40']
TwoThirtyNine = df.loc[df['LINEID'] == '239']
SeventySix = df.loc[df['LINEID'] == '76']
EightyFour = df.loc[df['LINEID'] == '84']
FiftyThree = df.loc[df['LINEID'] == '53']

In [19]:
list_of_bus_routes[30:40]

['185', '151', '13', '15B', '65B', '29A', '61', '140', '79A', '38A']

In [20]:
OneEightyFive = df.loc[df['LINEID'] == '185']
OneFiftyOne = df.loc[df['LINEID'] == '151']
Thirteen = df.loc[df['LINEID'] == '13']
FifteenB = df.loc[df['LINEID'] == '15B']
SixtyFiveB = df.loc[df['LINEID'] == '65B']
TwentyNineA = df.loc[df['LINEID'] == '29A']
SixtyOne = df.loc[df['LINEID'] == '61']
OneForty = df.loc[df['LINEID'] == '140']
SeventyNineA = df.loc[df['LINEID'] == '79A']
ThirtyEightA = df.loc[df['LINEID'] == '38A']

In [21]:
list_of_bus_routes[40:50]

['31', '33B', '69', '44', '42', '67', '184', '238', '145', '17A']

In [22]:
ThirtyOne = df.loc[df['LINEID'] == '31']
ThirtyThreeB = df.loc[df['LINEID'] == '33B']
SixtyNine = df.loc[df['LINEID'] == '69']
FortyFour = df.loc[df['LINEID'] == '44']
FortyTwo = df.loc[df['LINEID'] == '42']
SixtySeven = df.loc[df['LINEID'] == '67']
OneEightyFour = df.loc[df['LINEID'] == '184']
TwoThirtyEight = df.loc[df['LINEID'] == '238']
OneFortyFive = df.loc[df['LINEID'] == '145']
SeventeenA = df.loc[df['LINEID'] == '17A']

In [23]:
list_of_bus_routes[50:60]

['32', '27A', '17', '27X', '18', '122', '54A', '66', '150', '56A']

In [24]:
ThirtyTwo = df.loc[df['LINEID'] == '32']
TwentySevenA = df.loc[df['LINEID'] == '27A']
Seventeen = df.loc[df['LINEID'] == '17']
TwentySevenX = df.loc[df['LINEID'] == '27X']
Eighteen = df.loc[df['LINEID'] == '18']
OneTwentyTwo = df.loc[df['LINEID'] == '122']
FiftyFourA = df.loc[df['LINEID'] == '54A']
SixtySix = df.loc[df['LINEID'] == '66']
OneFifty = df.loc[df['LINEID'] == '150']
FiftySixA = df.loc[df['LINEID'] == '56A']

In [25]:
list_of_bus_routes[60:70]

['37', '27', '15A', '65', '11', '47', '79', '83A', '63', '4']

In [26]:
ThirtySeven = df.loc[df['LINEID'] == '37']
TwentySeven = df.loc[df['LINEID'] == '27']
FifteenA = df.loc[df['LINEID'] == '15A']
SixtyFive = df.loc[df['LINEID'] == '65']
Eleven = df.loc[df['LINEID'] == '11']
FortySeven = df.loc[df['LINEID'] == '47']
SeventyNine = df.loc[df['LINEID'] == '79']
EightyThreeA = df.loc[df['LINEID'] == '83A']
SixtyThree = df.loc[df['LINEID'] == '63']
Four = df.loc[df['LINEID'] == '4']

In [27]:
list_of_bus_routes[70:80]

['120', '41C', '70', '84A', '220', '39X', '32X', '68A', '84X', '38']

In [28]:
OneTwenty = df.loc[df['LINEID'] == '120']
FortyOneC = df.loc[df['LINEID'] == '41C']
Seventy = df.loc[df['LINEID'] == '70']
EightyFourA = df.loc[df['LINEID'] == '84A']
TwoTwenty = df.loc[df['LINEID'] == '220']
ThirtyNineX = df.loc[df['LINEID'] == '39X']
ThirtyTwoX = df.loc[df['LINEID'] == '32X']
SixtyEightA = df.loc[df['LINEID'] == '68A']
EightyFourX = df.loc[df['LINEID'] == '84X']
ThirtyEight = df.loc[df['LINEID'] == '38']

In [29]:
list_of_bus_routes[80:90]

['102', '270', '51X', '33X', '75', '26', '66A', '31A', '111', '14C']

In [30]:
OneOTwo = df.loc[df['LINEID'] == '102']
TwoSeventy = df.loc[df['LINEID'] == '270']
FiftyOneX = df.loc[df['LINEID'] == '51X']
ThirtyThreeX = df.loc[df['LINEID'] == '33X']
SeventyFive = df.loc[df['LINEID'] == '75']
TwentySix = df.loc[df['LINEID'] == '26']
SixtySixA = df.loc[df['LINEID'] == '66A']
ThirtyOneA = df.loc[df['LINEID'] == '31A']
OneEleven = df.loc[df['LINEID'] == '111']
FourteenC = df.loc[df['LINEID'] == '14C']

In [31]:
list_of_bus_routes[90:100]

['114', '76A', '44B', '161', '7A', '43', '25', '104', '33A', '16C']

In [32]:
OneFourteen = df.loc[df['LINEID'] == '114']
SeventySixA = df.loc[df['LINEID'] == '76A']
FortyFourB = df.loc[df['LINEID'] == '44B']
OneSixtyOne = df.loc[df['LINEID'] == '161']
SevenA = df.loc[df['LINEID'] == '7A']
FortyThree = df.loc[df['LINEID'] == '43']
TwentyFive = df.loc[df['LINEID'] == '25']
OneOFour = df.loc[df['LINEID'] == '104']
ThirtyThreeA = df.loc[df['LINEID'] == '33A']
SixteenC = df.loc[df['LINEID'] == '16C']

In [33]:
list_of_bus_routes[100:110]

['42D', '31B', '66X', '31D', '33D', '41B', '40B', '7D', '46E', '38D']

In [34]:
ThirtyEightD= df.loc[df['LINEID'] == '38D']
FortyTwoD = df.loc[df['LINEID'] == '42D']
ThirtyOneB = df.loc[df['LINEID'] == '31B']
SixtySixX = df.loc[df['LINEID'] == '66X']
ThirtyOneD = df.loc[df['LINEID'] == '31D']
ThirtyThreeD = df.loc[df['LINEID'] == '33D']
FortyOneB = df.loc[df['LINEID'] == '41B']
FortyB = df.loc[df['LINEID'] == '40B']
SevenD = df.loc[df['LINEID'] == '7D']
FortySixE = df.loc[df['LINEID'] == '46E']

In [35]:
list_of_bus_routes[110:120]

['118', '51D', '15D', '41A', '25D', '66B', '38B', '236', '7B', '41X']

In [36]:
OneEighteen = df.loc[df['LINEID'] == '118']
FiftyOneD = df.loc[df['LINEID'] == '51D']
FifteenD = df.loc[df['LINEID'] == '15D']
FortyOneA = df.loc[df['LINEID'] == '41A']
TwentyFiveD = df.loc[df['LINEID'] == '25D']
SixtySixB = df.loc[df['LINEID'] == '66B']
ThirtyEightB = df.loc[df['LINEID'] == '38B']
TwoThirtySix = df.loc[df['LINEID'] == '236']
SevenB = df.loc[df['LINEID'] == '7B']
FortyOneX = df.loc[df['LINEID'] == '41X']

In [37]:
list_of_bus_routes[120:130]

['69X', '68X', '25X', '40E', '70D', '116', '77X', '16D', '33E', '41D']

In [38]:
SixtyNineX = df.loc[df['LINEID'] == '69X']
SixtyEightX = df.loc[df['LINEID'] == '68X']
TwentyFiveX = df.loc[df['LINEID'] == '25X']
FortyE = df.loc[df['LINEID'] == '40E']
SeventyD = df.loc[df['LINEID'] == '70D']
OneSixteen = df.loc[df['LINEID'] == '116']
SeventySevenX = df.loc[df['LINEID'] == '77X']
SixteenD = df.loc[df['LINEID'] == '16D']
ThirtyThreeE = df.loc[df['LINEID'] == '33E']
FortyOneD = df.loc[df['LINEID'] == '41D']

In [39]:
List_of_bus_route_dataframes = [SixtyEight, TwentyFiveB, FortyFiveA, TwentyFiveA, Fourteen, SeventySevenA, ThirtyNine, Sixteen, FortyD, TwentySevenB, OneFortyTwo,
EightyThree,
OneThirty,
Fifteen,
FortySixA,
ThirtyThree,
Seven,
ThirtyNineA,
FortyNine,
One,
OneTwentyThree,
FortyOne,
SixtySevenX,
FiftyNine,
Nine,
Forty,
TwoThirtyNine,
SeventySix,
EightyFour,
FiftyThree,
OneEightyFive,
OneFiftyOne,
Thirteen,
FifteenB,
SixtyFiveB,
TwentyNineA,
SixtyOne,
OneForty,
SeventyNineA,
ThirtyEightA,
ThirtyOne,
ThirtyThreeB,
SixtyNine,
FortyFour,
FortyTwo,
SixtySeven,
OneEightyFour,
TwoThirtyEight,
OneFortyFive,
SeventeenA,
ThirtyTwo,
TwentySevenA,
Seventeen,
TwentySevenX,
Eighteen,
OneTwentyTwo,
FiftyFourA,
SixtySix,
OneFifty,
FiftySixA,
ThirtySeven,
TwentySeven,
FifteenA,
SixtyFive,
Eleven,
FortySeven,
SeventyNine,
EightyThreeA,
SixtyThree,
Four,
OneTwenty,
FortyOneC,
Seventy,
EightyFourA,
TwoTwenty,
ThirtyNineX,
ThirtyTwoX,
SixtyEightA,
EightyFourX,
ThirtyEight,
OneOTwo,
TwoSeventy,
FiftyOneX,
ThirtyThreeX,
SeventyFive,
TwentySix,
SixtySixA,
ThirtyOneA,
OneEleven,
FourteenC,
OneFourteen,
SeventySixA,
FortyFourB,
OneSixtyOne,
SevenA,
FortyThree,
TwentyFive,
OneOFour,
ThirtyThreeA,
SixteenC,
ThirtyEightD,
FortyTwoD,
ThirtyOneB,
SixtySixX,
ThirtyOneD,
ThirtyThreeD,
FortyOneB,
FortyB,
SevenD,
FortySixE,
OneEighteen,
FiftyOneD,
FifteenD,
FortyOneA,
TwentyFiveD,
SixtySixB,
ThirtyEightB,
TwoThirtySix,
SevenB,
FortyOneX,
SixtyNineX,
SixtyEightX,
TwentyFiveX,
FortyE,
SeventyD,
OneSixteen,
SeventySevenX,
SixteenD,
ThirtyThreeE,
FortyOneD]

In [40]:
len(List_of_bus_route_dataframes)

130

In [41]:
SixteenD.head()

,",DATASOURCE",DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,ACTUALTIME_ARR,ACTUALTIME_DEP
529817,"529817,""DB",2018-12-06,8159151,16D,16D_30,1,37172.0,31813.0
533696,"533696,""DB",2018-12-06,8159904,16D,16D_30,1,NaN,29426.0
533697,"533697,""DB",2018-12-06,8154707,16D,16D_30,1,34195.0,27011.0
533698,"533698,""DB",2018-12-06,8151574,16D,16D_30,1,34654.0,28201.0
544250,"544250,""DB",2018-12-06,8155404,16D,16D_30,1,31219.0,25853.0

In [42]:
SixteenD.shape

(84, 8)

In [43]:
SixtyEight.to_csv('SixtyEight.csv') 
TwentyFiveB.to_csv('TwentyFiveB.csv')
FortyFiveA.to_csv('FortyFiveA.csv')
TwentyFiveA.to_csv('TwentyFiveA.csv')
Fourteen.to_csv('Fourteen.csv') 
SeventySevenA.to_csv('SeventySevenA.csv') 
ThirtyNine.to_csv('ThirtyNine.csv') 

Sixteen.to_csv('Sixteen.csv') 
FortyD.to_csv('FortyD.csv') 
TwentySevenB.to_csv('TwentySevenB.csv') 
OneFortyTwo.to_csv('OneFortyTwo.csv')
EightyThree.to_csv('EightyThree.csv')
OneThirty.to_csv('OneThirty.csv')
Fifteen.to_csv('Fifteen.csv')
FortySixA.to_csv('FortySixA.csv')
ThirtyThree.to_csv('ThirtyThree.csv')
Seven.to_csv('Seven.csv')
ThirtyNineA.to_csv('ThirtyNineA.csv')
FortyNine.to_csv('FortyNine.csv')
One.to_csv('One.csv')
OneTwentyThree.to_csv('OneTwentyThree.csv')
FortyOne.to_csv('FortyOne.csv')
SixtySevenX.to_csv('SixtySevenX.csv')
FiftyNine.to_csv('FiftyNine.csv')
Nine.to_csv('Nine.csv')
Forty.to_csv('Forty.csv')
TwoThirtyNine.to_csv('TwoThirtyNine.csv')

SeventySix.to_csv('SeventySix.csv')
EightyFour.to_csv('EightyFour.csv')
FiftyThree.to_csv('FiftyThree.csv')
OneEightyFive.to_csv('OneEightyFive.csv')
OneFiftyOne.to_csv('OneFiftyOne.csv')
Thirteen.to_csv('Thirteen.csv')
FifteenB.to_csv('FifteenB.csv')
SixtyFiveB.to_csv('SixtyFiveB.csv')
TwentyNineA.to_csv('TwentyNineA.csv')
SixtyOne.to_csv('SixtyOne.csv')
OneForty.to_csv('OneForty.csv')
SeventyNineA.to_csv('SeventyNineA.csv')
ThirtyEightA.to_csv('ThirtyEightA.csv')
ThirtyOne.to_csv('ThirtyOne.csv')
ThirtyThreeB.to_csv('ThirtyThreeB.csv')
SixtyNine.to_csv('SixtyNine.csv')
FortyFour.to_csv('FortyFour.csv')
FortyTwo.to_csv('FortyTwo.csv')
SixtySeven.to_csv('SixtySeven.csv')
OneEightyFour.to_csv('OneEightyFour.csv')
TwoThirtyEight.to_csv('TwoThirtyEight.csv')
OneFortyFive.to_csv('OneFortyFive.csv')
SeventeenA.to_csv('SeventeenA.csv')
ThirtyTwo.to_csv('ThirtyTwo.csv')
TwentySevenA.to_csv('TwentySevenA.csv')

Seventeen.to_csv('Seventeen.csv')
TwentySevenX.to_csv('TwentySevenX.csv')
Eighteen.to_csv('Eighteen.csv')
OneTwentyTwo.to_csv('OneTwentyTwo.csv')
FiftyFourA.to_csv('FiftyFourA.csv')
SixtySix.to_csv('SixtySix.csv')
OneFifty.to_csv('OneFifty.csv')
FiftySixA.to_csv('FiftySixA.csv')
ThirtySeven.to_csv('ThirtySeven.csv')
TwentySeven.to_csv('TwentySeven.csv')
FifteenA.to_csv('FifteenA.csv')
SixtyFive.to_csv('SixtyFive.csv')

Eleven.to_csv('Eleven.csv')
FortySeven.to_csv('FortySeven.csv')
SeventyNine.to_csv('SeventyNine.csv')
EightyThreeA.to_csv('EightyThreeA.csv')
SixtyThree.to_csv('SixtyThree.csv')
Four.to_csv('Four.csv')
OneTwenty.to_csv('OneTwenty.csv')
FortyOneC.to_csv('FortyOneC.csv')
Seventy.to_csv('Seventy.csv')
EightyFourA.to_csv('EightyFourA.csv')
TwoTwenty.to_csv('TwoTwenty.csv')
ThirtyNineX.to_csv('ThirtyNineX.csv')
ThirtyTwoX.to_csv('ThirtyTwoX.csv')
SixtyEightA.to_csv('SixtyEightA.csv')
EightyFourX.to_csv('EightyFourX.csv')
ThirtyEight.to_csv('ThirtyEight.csv')
OneOTwo.to_csv('OneOTwo.csv')

TwoSeventy.to_csv('TwoSeventy.csv')
FiftyOneX.to_csv('FiftyOneX.csv')
ThirtyThreeX.to_csv('ThirtyThreeX.csv')
SeventyFive.to_csv('SeventyFive.csv')
TwentySix.to_csv('TwentySix.csv')
SixtySixA.to_csv('SixtySixA.csv')
ThirtyOneA.to_csv('ThirtyOneA.csv')
OneEleven.to_csv('OneEleven.csv')
FourteenC.to_csv('FourteenC.csv')
OneFourteen.to_csv('OneFourteen.csv')
SeventySixA.to_csv('SeventySixA.csv')
FortyFourB.to_csv('FortyFourB.csv')
OneSixtyOne.to_csv('OneSixtyOne.csv')
SevenA.to_csv('SevenA.csv')
FortyThree.to_csv('FortyThree.csv')
TwentyFive.to_csv('TwentyFive.csv')
OneOFour.to_csv('OneOFour.csv')

ThirtyThreeA.to_csv('ThirtyThreeA.csv')
SixteenC.to_csv('SixteenC.csv')
ThirtyEightD.to_csv('ThirtyEightD.csv')
FortyTwoD.to_csv('FortyTwoD.csv')
ThirtyOneB.to_csv('ThirtyOneB.csv')
SixtySixX.to_csv('SixtySixX.csv')
ThirtyOneD.to_csv('ThirtyOneD.csv')
ThirtyThreeD.to_csv('ThirtyThreeD.csv')
FortyOneB.to_csv('FortyOneB.csv')
FortyB.to_csv('FortyB.csv')
SevenD.to_csv('SevenD.csv')
FortySixE.to_csv('FortySixE.csv')
OneEighteen.to_csv('OneEighteen.csv')
FiftyOneD.to_csv('FiftyOneD.csv')
FifteenD.to_csv('FifteenD.csv')
FortyOneA.to_csv('FortyOneA.csv')
TwentyFiveD.to_csv('TwentyFiveD.csv')
SixtySixB.to_csv('SixtySixB.csv')
ThirtyEightB.to_csv('ThirtyEightB.csv')
TwoThirtySix.to_csv('TwoThirtySix.csv')
SevenB.to_csv('SevenB.csv')
FortyOneX.to_csv('FortyOneX.csv')
SixtyNineX.to_csv('SixtyNineX.csv')
SixtyEightX.to_csv('SixtyEightX.csv')
TwentyFiveX.to_csv('TwentyFiveX.csv')
FortyE.to_csv('FortyE.csv')
SeventyD.to_csv('SeventyD.csv')

OneSixteen.to_csv('OneSixteen.csv')
SeventySevenX.to_csv('SeventySevenX.csv')
SixteenD.to_csv('SixteenD.csv')
ThirtyThreeE.to_csv('ThirtyThreeE.csv')
FortyOneD.to_csv('FortyOneD.csv')