In [1]:
import pandas as pd
import pickle
import numpy as np
import os
import csv
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.tree import export_graphviz

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [65]:
filepath = "/Users/laura/Desktop/Trimester_3/My_work/linear_regression_weather_scripts_notebooks/neural_network_results_31D_68.csv.csv"
df = pd.read_csv(filepath, keep_default_na=True, sep=',\s+', delimiter=',', skipinitialspace=True)

In [60]:
df.head()

,Route,combo,Mean_Absolute_Error,Mean_Squared_Error,Root_Mean_Squared_Error,R2
0,53_2,134_0.82_0.006_3300,134.681995,43864.286937,209.438026,0.275010
1,53_2,134_0.82_0.006_3000,134.681995,43864.286937,209.438026,0.275010
2,53_2,134_0.82_0.006_2700,134.681995,43864.286937,209.438026,0.275010
3,53_2,134_0.82_0.008_3300,134.899327,45271.857242,212.771843,0.251746
4,53_2,134_0.82_0.008_3000,134.899327,45271.857242,212.771843,0.251746

In [4]:
#df = df.drop(index=0)

In [55]:
df.columns = ["Route", "combo", "Mean_Absolute_Error", "Mean_Squared_Error", "Root_Mean_Squared_Error", "R2"]

In [5]:
#df.head()

,Route,combo,Mean_Absolute_Error,Mean_Squared_Error,Root_Mean_Squared_Error,R2
1,31D_2,20_0.4_0.005_300,841.2214064059585,929923.601501805,964.3254645096773,-3.4715508207088295
2,51D_1,20_0.4_0.005_300,802.3565730195891,952533.0213334553,975.9779819921428,-18.209696377266503
3,161_1,20_0.4_0.005_300,673.3089352823497,709674.4710275367,842.4217892644614,-6.083427158873969
4,51D_1,20_0.4_0.005_700,764.3951200605117,841895.0745924324,917.5484044956061,-15.978465210367968
5,161_1,20_0.4_0.005_700,570.6758834132652,523603.96774343384,723.6048422609082,-4.226213872732215

In [66]:
routes = list(df['Route'].unique())

In [67]:
len(routes)

16

In [63]:
#with open('neural_networks_final_parameters.csv', 'a', newline='') as file:
                    #writer = csv.writer(file)
                    #writer.writerow(["Route", "MAE", "HS", "A", "L", "MX"])

In [68]:
for route in routes:
    route_frame = df[df['Route']==route]
    best_MAE=route_frame['Mean_Absolute_Error'].min()
    best_combo_frame = route_frame[route_frame['Mean_Absolute_Error']==best_MAE]
    best_combo = list(best_combo_frame['combo'])
    list_ideal_parameter = best_combo[0].split('_')
    hs = list_ideal_parameter[0]
    a = list_ideal_parameter[1]
    l = list_ideal_parameter[2]
    mx = list_ideal_parameter[3]
    with open('neural_networks_final_parameters.csv', 'a', newline='') as file:
                    writer = csv.writer(file)
                    writer.writerow([route, float(best_MAE), hs, a, l, mx])